#video {
    position: absolute;
    z-index: 1;
    display: block;
    margin: 0 auto;
    left: -120vw;
    height: 100vh;
    /* width: 177vw; */
}

.myButton {
    position: absolute;
    left: 28vw;
    bottom: 10vh;
    z-index: 3;
}

img {
    z-index: 4;
    width: 75px;
    height: 75px;
}